<div class="container">
    <br>
    <h3 class="h-100 d-flex align-items-center justify-content-center">Registration Form</h3>
    <br>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <form action="/user/register" method="post">
            <div class="row">
                <div class="col-auto">
                <label class="col-sm-2 col-form-label" for="name">Name:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="name" id="name">
                </div>
                </div>

                <div class="col-auto">
                    <label class="col-sm-2 col-form-label" for="password">Password:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" name="password" id="password">
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-auto">
                    <input class="btn btn-success" type="submit" value="Submit"/>
                </div>
            </div>
        </form>
    </div>
</div>